<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/vue.min.js"></script>
    <title>Teste01 VueJs</title>

</head>
<body class='Exec01'>
    <div id='app'>
        <input type="text" v-model="nome" placeholder="Digite o Nome"
                v-on:keyup.enter="submitNome(' ', $event)"> {{ nome }}
        </input>
        <br />
        <input type="text" v-model="cpf" placeholder="Digite o CPF" 
                v-on:keyup.enter="submitCPF(' ', $event)"> {{ cpf }}
        </input>
        <br />
        <input type="text" v-model="nasc" placeholder="Data de Nascimento (dd/mm/aaa)" 
                        v-on:keyup.enter="submitNasc(' ', $event)"> {{ nasc }}
        </input>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                nome: '',
                cpf: '',
                nasc: '',
                email: ''
            },
        methods: {
            validaCPF() {
                var strcpf = this.cpf
                this.cpf = "CPF invalido!"
                if(this.validaNum(strcpf)) {
                    if(this.verificaNum(strcpf)) {
                        if(this.validaModuloOnze(strcpf)) {
                            this.mascaraCPF(strcpf)
                        }
                    }
                }
            },
            mascaraCPF(strcpf) {
                this.cpf = strcpf.substring(0, 3) + "." +
                           strcpf.substring(3, 6) + "." +
                           strcpf.substring(6, 9) + "-" +
                           strcpf.substring(9, 11)                                                       
            },
            validaNum(strcpf) {
                var boo = false
                if(strcpf!==undefined) {
                    if(strcpf.length===11) {
                        boo = true
                    }
                }
                return boo
            },
            verificaNum(strcpf) {
                var boo = true
                if( strcpf === "00000000000" ||
                    strcpf === "11111111111" ||
                    strcpf === "22222222222" ||
                    strcpf === "33333333333" ||
                    strcpf === "44444444444" ||
                    strcpf === "55555555555" ||
                    strcpf === "66666666666" ||
                    strcpf === "77777777777" ||
                    strcpf === "88888888888" ||
                    strcpf === "99999999999" ) {
                       boo = false
                }
            return boo
           },
           validaModuloOnze(strcpf) {
                var boo = false
                var somaDiv01 = 0
                var somaDiv02 = 0
                // ** Codigo de validação modulo 11 do CPF
                for(j=11;j>2;--j) {
                    i=j-1
                    somaDiv01 = somaDiv01 + strcpf.substring(10 - i, 11 - i) * i
                    somaDiv02 = somaDiv02 + strcpf.substring(11 - j, 12 - j) * j
                }
                somaDiv01 = 11 - (somaDiv01 % 11)
                somaDiv02 = (somaDiv01 * 10 ) + (11 - ((somaDiv02 + (2 * somaDiv01)) % 11))
                if(strcpf.substring(9, 11) == somaDiv02) {
                    boo = true
                }
                return boo
            },
            isBissexto(ano) {
                var boo = false
                // **** Ano Bissexto
                if(ano % 100 !== 0 && (ano % 4 === 0 || ano % 400 ===0)) {
                    boo = true
                }
                return boo
            },
            validaDia(dia, mes, ano) {
                var boo = false
                var qtDias = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
                // **** Valida dia
                if(this.isBissexto(ano)) {
                    qtDias[1] = 29
                }
                if(dia >= 1 && dia <= qtDias[(mes + 1)]) {
                    boo = true
                }
                return boo
            },
            validaMes(mes) {
                var boo = false
                // **** Valida mes
                if(mes >= 1 && mes <=12) {
                    boo = true 
                }
                return boo 
            },
            validaAno(ano) {
                var boo = false
                data = new Date
                console.log(data.getFullYear() - 100 + "   ")
                console.log(data.getFullYear() - 18)
                if(ano >= (data.getFullYear() - 100) &&
                    ano <= (data.getFullYear() - 18)) {
                        boo = true
                }
                return boo
            },
            validaData(strnasc) {
                var boo = false
                var mask = strnasc
                var maskDia = mask.substring(0, 2)
                var maskMes = mask.substring(2, 4)
                var maskAno = mask.substring(4, 8)
                var data = new Date 
                if(mask.length===8) {
                    if(this.validaAno(maskAno)) {
                        if(this.validaMes(maskMes)) {
                            if(this.validaDia(maskDia)) {
                                boo = true
                            }
                        }
                    }
                }
                return boo
            },
            validaNasc() {
                var strNasc = "Data invalida!"
                if(this.validaData(this.nasc)) {
                    this.mascaraNasc()
                }
            },
            mascaraNasc() {
                var mask = this.nasc
                if(mask.length===8) {
                    this.nasc = mask.substring(0, 2) + "/" +
                                mask.substring(2, 4) + "/" +
                                mask.substring(4, 8)
                }
            },
            submitCPF(message, event) {
                if(event) {
                    this.validaCPF()
                    return this.cpf
                }
            },
            submitNome(message, event) {
                if(event) {
                    return this.nome
                }
            },
            submitNasc(message, event) {
                if(event) {
                    this.validaNasc()
                    return this.nasc
                }
            },
            submitEmail(message, event) {
                if(event) {
                    return this.email
                }
            }
        }
    })
    </script>
    
</body>
</html>